<div style="background-color: #35373b; width: 600px; padding: 5% 0% 5% 0%; text-align: center;">
  <span style="color:#EEE; font-family: monospace;">
    <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-white.png" style="max-width: 5%;">
    <strong> Equipe EHSC - Meetapper</strong>
  </span>
</div>
